/* .contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 150px;
    gap: 15px;
    height: 600px;
    place-content: end;
    justify-items: end;
    align-items: start;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.contenedor .item:nth-child(2) {
    justify-self: start;
    align-self: end;
} */

/* Reto cumplido */
.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-auto-rows: 150px;
    gap: 15px;
    place-items: end;
}
.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}